<h2>管理者画面</h2>

<label>本日の注文件数</label>

　<!-- 　<%= link_to "#{@order} 件", admin_orders_path %> -->

 <!--  @order = Order.where(artist: 'ももいろクローバーZ', released_date: '2011-07-27') -->


  <%= link_to @order.count , admin_orders_path %>




