<div class="big-box">
<h1>ほんまに退会するん？</h1>

<%= link_to "ほんまに退会する", customer_path, method: :delete, "data-confirm" => "本当に削除しますか？", class:"btn btn-default" %>

<%= link_to "一旦考え直すわ", customer_path, class:"btn btn-default"  %>
</div>
