<div class="container">

	<div class="panel panel-default">
      <div class="panel-body">
      	このサイトについて
      </div>
    </div>

     <p>長野県のケーキ屋さんでーす。</p>

	<div class="panel panel-default">
      <div class="panel-body">
      	店舗情報
      </div>
    </div>

    <p>長野けん長野市、、、かな?</p>
</div>