<div class="container">

	<div class="panel panel-default" style="width: 20%;">
      <div class="panel-body">
      	こだわり
      </div>
    </div>
    <h4 class="sub">　お客様の体と心の健康を第一に考え、より自然な素材で添加物を極力使用せず、</br>そしてどこよりもお値打ちでご提供し、全てのお客様に愛されるお菓子屋でありたい・・・。
        </br>それが「Nagano Cake」の願いです。</br>
        私達「Nagano Cake」はこの想いを大切に、お菓子づくりに取り組んでいます。
    </h4>

     <p>
     </p>

	<div class="panel panel-default" style="width: 20%;">
      <div class="panel-body">
      	店舗情報
      </div>
    </div>
    <h4 class="sub">　長野県に店舗を構えておりましたが、この度オンラインでケーキの受注を</br>開始しました。美味しそうなケーキがございましたら、どんどん注文してください！</br>
    弊社のパティシエが最高の一品を作り上げ、お客様へお届けいたします。
    </h4>

</div>