<h1>配送先編集</h1>

   <% @ship_address do |f| %>
    <table>
	    <tr>
	      <th>郵便番号</th>
	      <th>住所</th>
	      <th>宛名</th>
	      <th></th>
	    </tr>
	    <tr>
	      <td>
	      	<%= f.text_field :postcode %>
	      </td>
	      <td>
	      	<%= f.text_field :address %>
	      </td>
	      <td>
	      	<%= f.text_field :ship_name %>
	      </td>
	      <td>
	      	edit
      		destory
	      </td>
	    </tr>
 	</table>
   <% end %>


<% end %>
