/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

.btn-circle-flat {
  display: inline-block;
  text-decoration: none;
  background: #F8C446;
  color: #FFF;
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 50%;
  text-align: center;
  overflow: hidden;
  transition: .4s;
  float:right;
  font-size:40px;
  margin-right:70px;
}

.btn-circle-flat:hover {
  background: #F8C446;
}

 .logo{
 height:50px;
 width:50px;
 float:left;
 }

 body{
 font-family:"serif";

 background-color:#fffacd;


 }

 header{
 background-color:#FAFBFC;
 border-top: #F8C446 solid 3px;
 border-bottom: solid 2px #CFCFCF;
 }

 header::after {

 }

 .clearfix::after {
  content: "";
  display: block;
  clear: both;
}
 .list-content{
 display:inline-block;
 float:left;
 padding-right:30px;
 }

 .cake{
  display:inline-block;
 float:left;
 padding-right:30px;
 }

.genre{
 font-family:"serif";
 background-color:#ffe4e1;
 }
.line{
	border-bottom:#332426 solid 5px;
}



header{
	height:80px;
	margin-bottom:40px
}

