// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
<<<<<<< HEAD
// You can use Sass (SCSS) here: http://sass-lang.com/

.xxx {
	display:inline-block;
	float:left;
	padding-right:30px;
}

.genre-title {
	background-color: #F29073;
	color:#fff;
	margin-bottom:0;
	font-size:20px;
	text-align: center;
}

.genre-text {
	background-color:#FFFFFF;
	margin-bottom:0;
	text-align: center;
}

=======
// You can use Sass (SCSS) here: http://sass-lang.com/
>>>>>>> master
